<div id="editFormPopup" class="edit-form-popup">
    <h6>Edit</h6>
    <form action="post" class="edit-form" id="editForm" autocomplete="off" action="/editChatName">
        <input type="text" name="name" id="chatName" class="chat-name" placeholder="Enter new name" required>
        <div class="edit-form-btns">
            <button type="submit" class="edit-form-submit-btn">Submit</button>
            <button type="button" class="edit-form-cancel-btn" id="cancelEditBtn">Cancel</button>

        </div>
    </form>
</div>