<nav class="navbar navbar-expand-lg">
        <div class="container-fluid justify-content-between w-100">
            
            <a class="navbar-podx" href="/">
             
              <img src="/images/pod x.png" alt="Bootstrap">
        
             
          </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <div class="nav-left">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About Us</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/contact">Contact Us</a>
                        </li>

                    </div>
                    <div class="nav-right">
                        <li class="nav-item">
                            <a class="nav-link signup-link" href="/signup">Sign Up</a>
                        </li>
                        <li class="nav-item login-link">
                            <a class="nav-link login-link" href="/login">Login</a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>