
<div id="profilePopup" class="popup-menu">
    <ul>
        <li class="popup-item">
            <span>Ramish</span>
        </li>
        <li class="popup-item">
            <a href=""><i class="fa-solid fa-gear"></i> <span>Settings</span></a>
            
        </li>
        <li class="popup-item">
            <a href="/contact"><i class="fa-regular fa-comments"></i> <span>Contact us</span></a>
        </li>
        <li class="popup-item">
            <a href=""><i class="fa-solid fa-user-group"></i> <span>About us</span></a>
        </li>
        <li class="popup-item">
            <a href=""><i class="fa-solid fa-right-from-bracket"></i> <span>Log out</span></a>
        </li>
    </ul>
</div>