
<div id="profilePopup" class="popup-menu">
    <ul>
        <li class="popup-item">
            <span>Ramish</span>
        </li>
        <li class="popup-item">
            <i class="fa-solid fa-gear"></i> <span>Settings</span>
            
        </li>
        <li class="popup-item">
            <i class="fa-regular fa-comments"></i> <span>Contact us</span>
        </li>
        <li class="popup-item">
            <i class="fa-solid fa-right-from-bracket"></i> <span>Log out</span>
        </li>
    </ul>
</div>