<div id="sliderNavbar" class="slider-navbar collapsed">
  <div class="sliderNav-logo">
      <a href="/" class="logo-link" aria-label="Home"><img src="/images/logo.png" alt="Logo" class="logo"></a>
      <a href="/" class="logo-link" aria-label="Home"><img src="/images/podx.png" alt="Logo" class="logo-side"></a>
  </div>
  <button id="openSlider" class="slider-toggle-btn" aria-label="Open Slider">
    <img src="/svg/sidebar.svg" alt="" srcset="">
  </button>
  <button id="openNewChat" class="new-chat-btn" aria-label="New Chat">
    <img src="/svg/newChat.svg" alt="" srcset="">
  </button>
  <div class="navbar-chat-history">
    <%if(currUser && (chats.length>0)){%>
      <%for(let chat of chats){%>
      <div class="chat-history-item">
        <a href="/chat/<%=chat._id%>"><%=chat.name%></a>
        <i class="fa-solid fa-ellipsis-vertical openChatMenu"></i>
        <%- include("chatMenuPopup.ejs") %>
      </div>
      <%}}%>
    
  </div>

  <div id="openProfile" class="slider-navbar-bottom">
    <div class="profile">
      <img src="/images/profile.png" alt="Profile" class="profile-img">
    </div>
  </div>
</div>
