<div id="sliderNavbar" class="slider-navbar collapsed">
  <div class="sliderNav-logo">
      <a href="/" class="logo-link" aria-label="Home"><img src="/images/logo.png" alt="Logo" class="logo"></a>
      <a href="/" class="logo-link" aria-label="Home"><img src="/images/podx.png" alt="Logo" class="logo-side"></a>
  </div>
  <button id="openSlider" class="slider-toggle-btn" aria-label="Open Slider">
    <img src="/svg/sidebar.svg" alt="" srcset="">
  </button>
  <div class="navbar-chat-history">
    <div class="history-day">
      <p class="chats-date">Today</p>
      <div class="chat-history-item">
        <p>Chat 1</p>
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
      <div class="chat-history-item">
        <p>Chat 1</p>
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
      <div class="chat-history-item">
        <p>Chat 1</p>
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
      <div class="chat-history-item">
        <p>Chat 1</p>
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
    </div>
    <div class="history-day">
      <p class="chats-date">Today</p>
      <div class="chat-history-item">
        <p>Chat 1</p>
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
      <div class="chat-history-item">
        <p>Chat 1</p>
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
      <div class="chat-history-item">
        <p>Chat 1</p>
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
      <div class="chat-history-item">
        <p>Chat 1</p>
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
      <div class="chat-history-item">
        <p>Chat 1</p>
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
      <div class="chat-history-item">
        <p>Chat 1</p>
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
      <div class="chat-history-item">
        <p>Chat 1</p>
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
      <div class="chat-history-item">
        <p>Chat 1</p>
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
      <div class="chat-history-item">
        <p>Chat 1</p>
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
      <div class="chat-history-item">
        <p>Chat 1</p>
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
      <div class="chat-history-item">
        <p>Chat 1</p>
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
      <div class="chat-history-item">
        <p>Chat 1</p>
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
      <div class="chat-history-item">
        <p>Chat 1</p>
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
      <div class="chat-history-item">
        <p>Chat 1</p>
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
      <div class="chat-history-item">
        <p>Chat 1</p>
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
      <div class="chat-history-item">
        <p>Chat 1</p>
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
    </div>
  </div>

  <div id="openProfile" class="slider-navbar-bottom">
    <div class="profile">
      <img src="/images/profile.png" alt="Profile" class="profile-img">
    </div>
  </div>
</div>